In [3]:
#importing necessary libraries
import pandas as pd
import numpy as np
from scipy.sparse import csr_matrix
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
#reading csv files
food = pd.read_csv("food.csv")
ratings = pd.read_csv("ratings.csv")

In [6]:
food.head()

,Food_ID,Name,C_Type,Veg_Non,Describe
0,1,summer squash salad,Healthy Food,veg,"white balsamic vinegar, lemon juice, lemon rin..."
1,2,chicken minced salad,Healthy Food,non-veg,"olive oil, chicken mince, garlic (minced), oni..."
2,3,sweet chilli almonds,Snack,veg,"almonds whole, egg white, curry leaves, salt, ..."
3,4,tricolour salad,Healthy Food,veg,"vinegar, honey/sugar, soy sauce, salt, garlic ..."
4,5,christmas cake,Dessert,veg,"christmas dry fruits (pre-soaked), orange zest..."

In [7]:
ratings.head()

   User_ID  Food_ID  Rating
0      1.0     88.0     4.0
1      1.0     46.0     3.0
2      1.0     24.0     5.0
3      1.0     25.0     4.0
4      2.0     49.0     1.0

In [8]:
#forming pivot table
dataset= ratings.pivot_table(index="Food_ID", columns="User_ID", values="Rating")

In [9]:
dataset.head()

User_ID,1.0,2.0,3.0,4.0,5.0,6.0,7.0,8.0,9.0,10.0,...,91.0,92.0,93.0,94.0,95.0,96.0,97.0,98.0,99.0,100.0
Food_ID,,,,,,,,,,,,,,,,,,,,,
1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,2.0,NaN,NaN,NaN,7.0,NaN,NaN

In [11]:
dataset.fillna(0, inplace=True)

In [16]:
#main recommendation function
def food_recommendation(Food_name):
    n=10
    List_of_foods= food[food["Name"].str.contains(Food_name)]
    if len(List_of_foods):
        Foodid= List_of_foods.iloc[0]["Food_ID"]
        Foodid= dataset[dataset["Food_ID"]==Foodid].index[0]
        distances, indices= model.kneighbours(csr_dataset[Foodid], n_neighbours=n+1)
        Food_indices= sorted(list(zip(indices.squeeze().tolist(), distances.squeeze().tolist())), key=lambda x: x[1])[:0:-1]
        Recommendations=[]
        for val in Food_indices:
            Foodid= dataset.iloc[val[0]]["Food_ID"]
            i= food[food["Food_ID"]==Foodid].index
            Recommendations.append({"Name" :food.iloc[i]["Name"].values[0],"Distance":val[1]})
        df= pd.DataFrame(Recommendations, index= range(1,n+1))
        return df["Name"]
    else:
        return "No similar Foods:"